{% extends "base.html" %}

{% block main %}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='/home/nacho/repos/info3180-lab2/app/static/css/app.css') }} ">

</head>
<!--
<body>
    <div class="profile-header"> 
        <img src= "{{ url_for('static', filename = 'garnet.jpeg') }}" alt = "Profile Photo">
    </div>
    <div class="profile-header">
        <div class="profile-info">
            <h2> {{ name }} </h2>

            <p> 
                {{ user }} <br>
                {{ location }}  <br>
                {{ Date }}
            </p>
        </div>    
    </div>

    <div class="profile-stats">
        <p> 
            Hey there! I'm Mary, a girlie in STEM. I sure do love INFO3180, I sure hope I get bills!
        </p>
    </div>


</body>
-->

<div class="profile-card">
    <img class="profile-picture" src="{{ url_for('static', filename = 'garnet.jpeg') }}" alt="Profile Picture">
    <div class="name-headline">
      <p> {{ name }} </p>
    </div>
    <p class="location-date-joined"> {{ user }} </p>
    <p class="location-date-joined"> {{ location }} </p>
    <p class="location-date-joined">Joined {{ datey }} </p>
<p class="about-me">Ladies and gentlemen, boys and girls, welcome to <strong>THE</strong> profile of the great {{ name }}. I love more than anything three things: video games, food and...I forgot the third thing. I love coding, but I'm a bit scatterbrained at times! As a result, I find myself relearning syntax and best practice very very often. I am also however, extremely good at learning things new and old, so you can count on me whether I'm a genius or...less than that. Nice to meet you! </p>
    <div class="stats">
      <div class="stat">
        <h5>5</h5>
        <p>Posts</p>
      </div>
      <div class="stat">
        <h5>300</h5>
        <p>Following</p>
      </div>
      <div class="stat">
        <h5>280</h5>
        <p>Followers</p>
      </div>
    </div>
    <button class="follow-button">Follow</button>
  </div>
{% endblock %}